#login{
    padding:30px;
}
.center{
    display:flex;
    justify-content: center;
}
label{
    font-size: 1.2rem;
    padding-bottom: 7px;
}
input{
    width: 300px;
}

.form-group{
    padding:10px;
}

.btn{
    padding: 10px;
    margin: 10px;
}
form{
    margin: auto;
}